@font-face {
  font-family: "Din";
  src: url("fonts/DINWeb.woff") format("woff");
  font-display: fallback;
}

@font-face {
  font-family: "Din";
  src: url("fonts/DINWeb-Ita.woff") format("woff");
  font-style: italic;
  font-display: fallback;
}

@font-face {
  font-family: "Din";
  src: url("fonts/DINWeb-Medium.woff") format("woff");
  font-weight: bold;
  font-display: fallback;
}

@font-face {
  font-family: "Din";
  src: url("fonts/DINWeb-MediumIta.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: fallback;
}

@font-face {
  font-family: "Proxima";
  src: url("fonts/ProximaNova-RegWeb.woff") format("woff");
  font-display: fallback;
}

@font-face {
  font-family: "Proxima";
  src: url("fonts/ProximaNova-RegItWeb.woff") format("woff");
  font-style: italic;
  font-display: fallback;
}

@font-face {
  font-family: "Proxima";
  src: url("fonts/ProximaNova-SboldWeb.woff") format("woff");
  font-weight: bold;
  font-display: fallback;
}

@font-face {
  font-family: "Proxima";
  src: url("fonts/ProximaNova-SboldItWeb.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: fallback;
}

@font-face {
  font-family: "ehealthglobalcomponents";
  src: url("fonts/ehealth-globalheaderfooter.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}
