/* Form field
   ========================================================================== */

.form-field {
  margin-bottom: 25px;

  &:last-child {
    margin-bottom: 0;
  }

  > label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    text-align: left;
  }

  .error {
    width: 100%;
    margin-top: 5px;
    color: $red;
    display: none;
    text-align: left;
    font-size: $font-size-small;
  }

  &.form-field-error {
    .error {
      display: block;
    }

    .form-control {
      border-color: $red;
    }
  }
}
