$system-heading-font-family: Din;

$system-default-font-family: Proxima;

$heading-font-family: $system-heading-font-family;
$content-font-family: $system-default-font-family;

%font-heading {
  font-family: $heading-font-family;
  color: $color-heading-text;
}

%font-content {
  font-family: $content-font-family;
  color: $color-text;
}
