@font-face {
  font-family: 'Din';
  src: url('~@knonginda/base-style/assets/fonts/DINWeb.woff') format('woff');
  font-display: fallback;
}

@font-face {
  font-family: 'Din';
  src: url('~@knonginda/base-style/assets/fonts/DINWeb-Ita.woff') format('woff');
  font-style: italic;
  font-display: fallback;
}

@font-face {
  font-family: 'Din';
  src: url('~@knonginda/base-style/assets/fonts/DINWeb-Medium.woff')
    format('woff');
  font-weight: bold;
  font-display: fallback;
}

@font-face {
  font-family: 'Din';
  font-style: italic;
  font-weight: bold;
  src: url('~@knonginda/base-style/assets/fonts/DINWeb-MediumIta.woff')
    format('woff');
  font-display: fallback;
}

@font-face {
  font-family: 'Proxima';
  src: url('~@knonginda/base-style/assets/fonts/ProximaNova-RegWeb.woff')
    format('woff');
  font-display: fallback;
}

@font-face {
  font-family: 'Proxima';
  src: url('~@knonginda/base-style/assets/fonts/ProximaNova-RegItWeb.woff')
    format('woff');
  font-style: italic;
  font-display: fallback;
}

@font-face {
  font-family: 'Proxima';
  src: url('~@knonginda/base-style/assets/fonts/ProximaNova-SboldWeb.woff')
    format('woff');
  font-weight: bold;
  font-display: fallback;
}

@font-face {
  font-family: 'Proxima';
  font-style: italic;
  font-weight: bold;
  src: url('~@knonginda/base-style/assets/fonts/ProximaNova-SboldItWeb.woff')
    format('woff');
  font-display: fallback;
}

@font-face {
  font-family: 'ehealthglobalcomponents';
  font-style: normal;
  font-weight: normal;
  src: url('~@knonginda/base-style/assets/fonts/ehealth-globalheaderfooter.woff')
    format('woff');
  font-display: fallback;
}
