$font-size-large: 18px;
$font-size-medium: 16px;
$font-size-small: 14px;

%typography-large {
  font-size: $font-size-large;

  @extend %font-content;
}

%typography-medium {
  font-size: $font-size-medium;

  @extend %font-content;
}

%typography-small {
  font-size: $font-size-small;

  @extend %font-content;
}
